<h2>Cadastro de Filmes</h2>
<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Duracao</th>
            <th>Avaliacao</th>
            <th>Alugado</th>
            <th>Data de Devolucao</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let filme of filmes">
            <td><img [src]="filme.imagem" width="40" height="40" ></td>
            <td>{{ filme.nome }}</td>
            <td>{{ filme.categoria }}</td>
            <td>{{ filme.duracao }} minutos</td>

            <td>
                <ngb-rating [(rate)]="filme.avaliacao" [max]="5" [readonly]="true"></ngb-rating>
            </td>
            <td>{{ filme.alugado  }}</td>
            <td>{{ filme.dataDevolucao  }}</td>
            <td>
                <button  [routerLink]="['../info/',filme.id]" class="btn btn-primary mr-2">Editar</button>
                <button  [disabled]="!filme.alugado" class="btn btn-success" (click)="devolver(filme)" style="margin-left:  10px;">Devolver</button>
                <button  class="btn btn-danger" style="margin-left:  10px;">Delete</button>
            </td>
        </tr>
    </tbody>

</table>